/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #map {
    height: 80vh; /* El mapa ocupará el 80% de la altura de la ventana */
    width: 100%; /* El mapa ocupará el 100% del ancho de la ventana */
    border: 2px solid #ccc; /* Borde para darle un poco de estilo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra para un efecto más elegante */
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: #666;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    #map {
      height: 60vh; /* Reducir la altura del mapa en dispositivos móviles */
    }
  
    h1 {
      font-size: 1.5rem; /* Ajustar el tamaño del título en pantallas pequeñas */
    }
  }

  /* Optimización para móviles */
@media (max-width: 576px) {
    #map {
      height: 50vh;
    }
  
    footer {
      font-size: 0.9rem;
      padding: 5px;
    }
  }
  
  